@media (max-width: 480px) { /* следующие css свойства применяются на экране меньше < 480px */
    h1 {
        color: red;
    }
    div {
        width: calc(100% - 20px);
    }
} 

/*  
    когда экран <480px, то на каждой строке по одоному блок
*/