* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    padding: 140px 0;
}
.form-wrapper {
    width: 70%;
    margin: auto;
    background-color: #34495E;
    padding: 80px 150px;
    border-radius: 20px;
}
.product-form {
    display: flex;
    flex-direction: column;
}
input {
    padding: 10px 35px;
    border: none;
    outline: none;
    font-size: 25px;
}
input::placeholder {
    color: black;
}
input[type="number"] {
    margin: 35px 0 120px;
}
input[type="text"], input[type="number"] {
    background-color: #D9D9D9;
}
input[type="submit"] {
    background-color: #27AE60;
    color: white;
}
/* продукты */
.products-wrapper {
    width: 70%;
    margin: 70px auto 0;
}
.product {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    background-color: #34495E;
    border-radius: 20px;
    color: white;
    font-size: 25px;
    position: relative;
}
.product:not(:last-child) {
    margin-bottom: 30px;
}
.delete-btn {
    display: none; /* скрыть элемент */
    width: 30px;
    height: 30px;
    background-color: #FC7171;
    border-radius: 50%; /* круглый элемент */
    position: absolute;
    top: -10px;
    right: -10px;
    border: 3px solid black;
}
/*      

    -- Ben Awad
    -- 
    input::placeholder - изменить стили placeholder input'a

    input[name="product-price"]
    2
 3. 35-сверху, 0 - справа и слева, 120px - снизу
 4. 35px 40px 50px 100px; 35px - сверху, 40px - справа, 50px - снизу, 100px - слева
*/