* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
}
.laptop {
    background-color: seagreen;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;     
}
p {
    font-size: 20px;
}