* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* мои навыки */
.skills {
    padding: 100px 0;
}
.skills-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-info {
    width: 40%;
}
.skills-title {
    font-size: 32px;
    margin-bottom: 50px;
}
.skill {
    margin-bottom: 30px;
}
.skill-name {
    color: #727272;
    margin-bottom: 20px;
}
.skill-scale {
    height: 5px;
    background: #C4C4C4;
}
.skill-scale-internal {
    width: 80%;
    height: 5px;
    background: #34547A;
}
.skill-image {
    width: 50%;
    object-fit: cover;
}
/* как я работаю */
.process {
    background: #EEEFF1;
    padding: 100px 0; /* 100px - сверху снизу, 0 - справа слева */
}
.process-title {
    font-size: 32px;
    text-align: center;
}
.process-descr {
    width: 30%;
    color: #727272;
    text-align: center;
    margin: 50px auto 60px; /* 50px -сверху, auto - центрировать справа слева, 60px - снизу */
}
.process-video {
    width: 60%;
    aspect-ratio: 16/9;
    display: block;
    margin: auto;
}
/* projects */
.projects {
    display: flex;
    flex-wrap: wrap;
}
.projects-item {
    width: 25%; 
    aspect-ratio: 1/1;
    background-size: cover; /* cover - полная ширина, высота автоматически. contain - полная высота, а ширина масштабируется  */
}
.sticker {
    background-image: url(./images/sticker.png);
}
.laptop {
    background-image: url(./images/laptop.png);
}
.projects-item-hover {
    height: 100%; /* на всю высоту projects-item */
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(53, 81, 114, 0.8));
    opacity: 0; /* opacity - прозрачность. 0 - прозрачный, 1 - не прозрачный */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.projects-item-hover:hover {
    opacity: 1;
}
/* microsoft */
.microsoft {
    padding: 70px 0 100px;
}
.microsoft-wrapper {
    width: 60%;
    margin: auto;
    display: flex;
}
.microsoft-wrapper img { /* img внутри .microsost-wrapper  */
    width: calc(25% - 30px);
    margin-right: 30px;
}
/* форма */
.form {
    background: #EEEFF1;
    padding: 100px 0;
}
.form-title {
    font-size: 32px;
    text-align: center;
    /* margin-bottom: 50px; */
}
.form-descr {
    font-size: 16px;
    width: 30%;
    text-align: center;
    margin: 50px auto 65px;
    /* margin-bottom: 65px; */
}
form {
    width: 30%;
    margin: auto;
}
textarea {
    width: 100%;
    border: none;
    outline: none;
    margin-bottom: 50px;
    padding: 20px;
}
.form-control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
input[type="text"], input[type="email"] {
    width: 45%;
    padding: 20px;
    border: none; /* убираем границу inputa */
    outline: none; 
}
input[type="submit"] {
    display: block;
    margin: auto;
    height: 55px;
    background: #34547A;
    border: none;
    outline: none;
    padding: 0 45px;
    text-transform: uppercase; /* сделать буквы заглавными  */
    color: white;
}


/* 

    <div class="hello">
        <p>My p TAG</p> <-----
    </div>
    <p>Another p Tag</p>
    <div>
        <p>Another p Tag</p>
    </div>

    .hello p {
        // эти стили будут применены к p внутри тэга с классом hello
    }

    ctrl + A 
    ctrl + K + F
    alt + shift + F
    .className .form-title .form
    form, h1, input, h4
    margin: auto; центрирование - отступ слева и справа равный
    margin: 50px auto 65px; - вверху 50, справа и слева - 0, снизу 65px
*/